<table class="table table-hover">
  <thead>
  <tr>
      <td>Task Name</td>
      <td>Task Description</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let task of tasks">
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td><a [routerLink]="['/edit', task._id]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteTask(task._id)"  class="btn btn-danger">Delete</button></td>
      </tr>
  </tbody>
</table>
